---
layout: default
title: Home
has_header: true
show_title: false
post_limit: 3
---
      <!-- Introduction -->
      <div class="relative mx-10vw">
        <div class="relative grid gap-x-4 grid-cols-4 md:grid-cols-8 lg:gap-x-6 lg:grid-cols-12 mx-auto max-w-7xl">
          <div class="col-span-full lg:col-span-4">
            <button class="group relative">
              <img alt="" src="{{ site.url }}/assets/images/site/home/ezra.png" srcset="" sizes="(max-width: 320px) 256px, (min-width: 321px) and (max-width: 1023px) 80vw, (min-width: 1024px) 410px, 850px" class="rounded-lg object-cover">
                <span class="absolute left-0 top-0 w-full h-full">
                  <span class="flex items-center justify-center w-full h-full">
                  <span class="motion-safe:group-hover:scale-110 motion-safe:group-focus:scale-110 motion-safe:group-active:scale-125 group-hover:opacity-100 group-focus:opacity-100 opacity-70 transform transition-all">
                    <svg width="75" height="75" viewBox="0 0 75 75" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="37.4883" cy="37.8254" r="37" fill="white"></circle>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M35.2643 33.025L41.0017 36.9265C41.6519 37.369 41.6499 38.3118 40.9991 38.7518L35.2616 42.6276C34.5113 43.1349 33.4883 42.6077 33.4883 41.7143V33.9364C33.4883 33.0411 34.5146 32.5151 35.2643 33.025" fill="#030404"></path>
                    </svg>
                  </span>
                </span>
              </span>
            </button>
            <p class="text-secondary text-xl">Introduction video (2:13)</p>
            <a class="underlined" href="{{ site.url }}/about">or, watch the full video here (8:05)</a>
          </div>
          <div class="col-span-full mt-12 lg:col-span-6 lg:col-start-6 lg:mt-0">
            <h2 class="leading-tight text-3xl md:text-4xl text-black dark:text-white" id="intro">Hi, I'm {{ site.author }}, trying to make the world better through quality software.</h2>
            <p class="text-2xl font-medium md:text-3xl text-gray-400 dark:text-blueGray-500 mt-12">I'm also a big art enthusiast. When I'm not hanging out with my family or at the computer you can find me painting on the wall.</p>
            <a class="text-primary inline-flex items-center text-left font-medium focus:outline-none cursor-pointer transition mt-20" href="{{ site.url }}/about"><span class="mr-8 text-xl font-medium">Learn more about me</span>
              <!-- right arrow -->
              <div class="relative inline-flex flex-none items-center justify-center p-1 w-14 h-14">
                <div class="absolute text-gray-200 dark:text-gray-600">
                  <svg width="60" height="60">
                    <circle stroke="currentColor" stroke-width="2" fill="transparent" r="28" cx="30" cy="30"></circle>
                    <circle class="text-primary" stroke="currentColor" stroke-width="2" fill="transparent" r="28" cx="30" cy="30" style="stroke-dasharray:175.92918860102841 175.92918860102841"></circle>
                  </svg>
                </div>
                <span>
                  <svg class="transform -rotate-90" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.101 5.5V23.1094L9.40108 17.4095L8.14807 18.6619L15.9862 26.5L23.852 18.6342L22.5996 17.3817L16.8725 23.1094V5.5H15.101Z" fill="currentColor"></path>
                  </svg>
                </span>
              </div>
            </a>
          </div>
        </div>
      </div>

      <!-- space -->
      <div class=" h-56 lg:h-64"></div>

      <!-- Blog recommendations -->
      <div class="relative mx-10vw">
        <div class="relative grid gap-x-4 grid-cols-4 md:grid-cols-8 lg:gap-x-6 lg:grid-cols-12 mx-auto max-w-7xl">
          <div class="flex flex-col col-span-full space-y-10 lg:flex-row lg:items-end lg:justify-between lg:space-y-0">
            <div class="space-y-2 lg:space-y-0">
              <h2 class="leading-tight text-3xl md:text-4xl text-black dark:text-white">Blog recommendations</h2>
              <p class="leading-tight text-3xl md:text-4xl text-gray-400 dark:text-blueGray-500">Prepared especially for you.</p>
            </div>
            <a class="text-primary inline-flex items-center text-left font-medium focus:outline-none cursor-pointer transition" href="{{ site.url }}/posts">
              <span class="mr-8 text-xl font-medium">See the full blog</span>
              <div class="relative inline-flex flex-none items-center justify-center p-1 w-14 h-14">
                <div class="absolute text-gray-200 dark:text-gray-600">
                  <svg width="60" height="60">
                    <circle stroke="currentColor" stroke-width="2" fill="transparent" r="28" cx="30" cy="30"></circle>
                    <circle class="text-primary" stroke="currentColor" stroke-width="2" fill="transparent" r="28" cx="30" cy="30" style="stroke-dasharray:175.92918860102841 175.92918860102841"></circle>
                  </svg>
                </div>
                <span>
                  <svg class="transform -rotate-90" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.101 5.5V23.1094L9.40108 17.4095L8.14807 18.6619L15.9862 26.5L23.852 18.6342L22.5996 17.3817L16.8725 23.1094V5.5H15.101Z" fill="currentColor"></path>
                  </svg>
                </span>
              </div>
            </a>
          </div>
        </div>
      </div>

      <!-- space -->
      <div class=" h-10 lg:h-12"></div>
      
      <!-- blogs -->
      <div class="relative mx-10vw">
        <div class="relative grid gap-x-4 grid-cols-4 md:grid-cols-8 lg:gap-x-6 lg:grid-cols-12 mx-auto max-w-7xl gap-y-16">
          {% for post in site.posts limit: page.post_limit %}
          <!-- post -->
          <div class="col-span-4">
            <div class="relative w-full">
              <a class="group peer relative block w-full focus:outline-none" href="{{ site.url }}{{ post.url }}">
                <div class="aspect-h-4 aspect-w-3 rounded-lg">
                  <!-- <img src="data:image/webp;base64,UklGRhQBAABXRUJQVlA4IAgBAAAQDQCdASpkAEMAPrFGmko7qyWhsls9U3AWCWkGcA01nlwbK5buwWRoA3koD7+5vLBXAtOMrneG2GT90JyrLz+2XeotIAEq5PL4F0N1qTRIJ7LnMa5Zcre8UaDTMRtFt14eXNoGYkhNSt0REMN2PN4FwAD+7s4jHeyE9BXykzZMxIuwC4FSp408GYxRjoczsMvwZlqrnzr4cuA6X6MspvaoVHUro1XNU1SNxrLKLjhZrJ3GmlyoorlW1L532OP9tbhOeQgFiDwE81g+CH4d16xfOjEGrpus0wYxdunoI7Nokc5fnyoAw8pKJEq6cW3Yp4rqZw9fosV61qnAN+ViAH+WOzoqC6R90AA=" class="focus-ring w-full rounded-lg object-cover object-center transition" alt="">-->
                  <!-- <div class="focus-ring w-full rounded-lg object-cover object-center transition backdrop-blur-xl"></div>-->
                  <img title="" alt="" src="{{ site.url }}{{ post.cover }}" srcset="" sizes="(max-width:639px) 80vw, (min-width:640px) and (max-width:1023px) 40vw, (min-width:1024px) and (max-width:1620px) 25vw, 420px" class="focus-ring w-full rounded-lg object-cover object-center transition transition-opacity opacity-0">
                  <noscript>
                    <img title="" alt="" src="{{ site.url }}{{ post.cover }}" srcSet="" sizes="(max-width:639px) 80vw, (min-width:640px) and (max-width:1023px) 40vw, (min-width:1024px) and (max-width:1620px) 25vw, 420px" class="focus-ring w-full rounded-lg object-cover object-center transition" />
                  </noscript>
                </div>
                <div class="mt-8 text-blueGray-500 text-xl font-medium">{% include post_date.html date=post.date %}</div>
                <div class="text-2xl font-medium md:text-3xl text-black dark:text-white mt-4">{{ post.title }}</div>
              </a>
              <button class="p-3 text-black whitespace-nowrap text-lg font-medium bg-white rounded-lg focus:outline-none shadow hover:shadow-md group-hover:opacity-100 peer-hover:opacity-100 hover:opacity-100 peer-focus:opacity-100 focus:opacity-100 transition focus:ring-4 hover:ring-4 ring-team-current lg:opacity-0 lg:px-8 lg:py-4 absolute z-10 left-6 top-6">
                <spanclass="hidden lg:inline">Read more</span>
                  <span class="inline lg:hidden">
                    <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6.5 15.25V15.25C5.5335 15.25 4.75 14.4665 4.75 13.5V6.75C4.75 5.64543 5.64543 4.75 6.75 4.75H13.5C14.4665 4.75 15.25 5.5335 15.25 6.5V6.5"></path>
                    <rect width="10.5" height="10.5" x="8.75" y="8.75" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" rx="2"></rect>
                  </svg>
                </span>
              </button>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
