.post-content {
	font-size: 16px;
	color: #f0f0f0;
	line-height: 32px;
}

.post-content pre {
  word-break: break-all;
  white-space: pre-wrap;
	color: #eee;
	margin: 10px 0;
	padding: 6px 6px;
}

.post-content h1 {
	font-size: 32px;
	margin: 20px 0;
}

.post-content h2 {
	font-size: 28px;
	margin: 16px 0;
}

.post-content h3 {
	font-size: 22px;
	margin: 12px 0;
}

.post-content h4,
.post-content h5,
.post-content h6 {
	font-size: 18px;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
	font-weight: bold;
	margin: 8px 0;
}

.post-content img,
.post-content video {
	background-color: #f0f0f0;
	border-radius: 10px;
	margin: 10px 0;
	padding: 6px 6px;
}
